<body style="text-align:center;">
	<table border="0" cellpadding="0" cellspacing="0" style="width:756px;margin:0 auto;text-align:center;font-family:Verdana;font-size:11px;">
		<tr>
			<td colspan="3" style="height:79px;background:#fff url({site_url}/images/mail/lancement/haut.jpg) no-repeat;" background="{site_url}/images/mail/lancement/haut.jpg"><img src="{site_url}/images/mail/lancement/haut.jpg" alt="" /></td>
		</tr>
		<tr>
			<td style="height:232px;background:#fff url({site_url}/images/mail/lancement/milieuG.jpg) no-repeat;" background="{site_url}/images/mail/lancement/milieuG.jpg"><img src="{site_url}/images/mail/lancement/milieuG.jpg" alt="" /></td>
			<td style="height:232px;background:#fff url({site_url}/images/mail/lancement/milieuC.jpg) no-repeat;" background="{site_url}/images/mail/lancement/milieuC.jpg">
				<center><table border="0" style="text-align:center;font-family:Verdana;font-size:11px;">
					<tr>
						<td>{texte}</td>
					</tr>
				</table></center>
			</td>
			<td style="height:232px;background:#fff url({site_url}/images/mail/lancement/milieuD.jpg) no-repeat;" background="{site_url}/images/mail/lancement/milieuD.jpg"><img src="{site_url}/images/mail/lancement/milieuD.jpg" alt="" /></td>
		</tr>
		<tr>
			<td style="height:603px;background:#fff url({site_url}/images/mail/lancement/basG.jpg) no-repeat;" background="{site_url}/images/mail/lancement/basG.jpg"><img src="{site_url}/images/mail/lancement/basG.jpg" alt="" /></td>
			<td colspan="2" style="height:603px;background:#fff url({site_url}/images/mail/lancement/basD.jpg) no-repeat;" background="{site_url}/images/mail/lancement/basD.jpg"><img src="{site_url}/images/mail/lancement/basD.jpg" alt="" /></td>
		</tr>
	</table>
	
</body>