html, body{
	margin:0;
	padding:0;
}

body{
	color:#000000;
	font-family:Verdana,Arial;
}

h1 { font-family: "Impact", Arial, Helvetica, sans-serif; font-size: 26px; line-height: 30px; color:#4a4a41; font-weight:normal; letter-spacing:1px; margin:0px; padding:5px 0px 0px 0px }
h2 { font-weight:bold; font-size: 18px; line-height: 20px; color:#4a4a41;}
h3 { font-weight:bold; font-size: 13px; line-height: 16px; color:#4a4a41;}
h4 { font-weight: bold; font-size: 16px; line-height: 18px; color:#4a4a41;}

div.body{
	width:800px;
	padding:5px;
	margin: auto;
}

/* Chat complet */

.chatBody{
	position:relative;
	width:800px;
	height:600px;
	margin:auto;
	
}

/* Panneau de droite */

.chatRight{
	position:absolute;
	left:550px;
	top:0;
	width:250px;
	height:600px;
	overflow:hidden;
}

/* Panneau de gauche */

.chatLeft{
	position:absolute;
	left:0;
	top:0;
	width:550px;
	height:600px;
	overflow:hidden;
}


/*Liste des discussion en cours*/

.chatUsers{
	position:absolute;
	right:0;
	top:0;
	width:245px;
	height:455px;
	background-color: #4a4a41;
}

.chatUsersScroll{
	margin:5px 0 5px 4px;
	height:445px;
	overflow:auto;
}

.conv0, .conv1, .convOn, .convOn1, .helpLink{
	padding: 8px 0% 8px;
	width:100%;
	/*margin:2px 5px 2px 0;
	height:20px;
	border:1px solid #82817d;*/
	cursor:pointer;
}

.conv0{
	/*color: #4a4a41;
	background-color:#82817d;*/
}

.conv1{
	background-color:#c32a2c;
	color: #fff;
	border-color:#fff;
}

.convOn, .convOn1{
	color: #4a4a41;
	background-color:#00b0ff;
	border-color:#ccc;
	padding: 8px 0% 8px;
}

.helpLink{
	        background: #ffffff;
    color: #03A9F4;
    padding: 12px 0px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.8);
}
.helpLink p{
	padding-left:0px !important;
	font-size:22px  !important;
}
.conv0 p, .convOn p, .convOn1 p, .conv1 p, .helpLink p{
	margin:0;
	font-weight:bold;
	padding-top:3px;
	padding-bottom:2px;
	padding-left:30px;
	
	font-size:11px;
}


.close{
	float:left;
	width:15px;
	height:18px;
	padding-left:5px;
	font-weight:bold;
	font-size:13px;
	cursor:pointer;
}

/* utilisateur*/

.chatProfileFrom{
	position:absolute;
	right:0;
	top:460px;
	width:235px;
	height:129px;
	background-color: #ccc;
	padding:5px;
}

.chatProfileFrom p{
	margin:4px 0px;
	padding:0;
	text-align:right;
}

.chatProfileFromImg{
	position:absolute;
	right:5px;
	width:105px;
	height:128px;
}

.chatProfileFromImg img{
	width:103px;
	border:1px solid #4a4a41;
}

.chatProfileFromTxt{
	position:absolute;
	width:125px;
	font-size:11px;
}


/*Correspondant*/

.chatProfileTo{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	background-color: #eceff1;
	/*padding:5px;*/
}

.chatProfileTo p{
	margin:4px 0;
	padding:0;
}

.chatProfileToImg{
	position:absolute;
	left:5px;
	/*width:105px;
	height:128px;*/
}

.chatProfileToImg img{
	width:103px;
	border:1px solid #4a4a41;
}
.convOn .alert-box{
	display: none;
}
.conv0 .alert-box{
	display: none;
}
.conv1 .alert-box{
	display: block;
	    position: absolute;
    z-index: 225;
	font-size: 15px;
	top:-50px;
	left:20%;
    background: #ccc;
}
.conv1 .alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.chatProfileToTxt{
	/*position:absolute;
	left:115px;
	width:125px;	
	font-size:11px;*/
}

/* Aide */

.chatWarning{
	position:absolute;
	top:0;
	left:250px;
	width:291px;
	height:126px;
	padding-top:5px;
	border:4px solid #c32a2c;
}

.chatWarning p{
	margin-left:45px;
	margin-right:5px;
	margin-top :30px;
	font-size:12px;
}

.chatWarning img{
	position:absolute;
	top:5px;
	left:5px;
}

/* Affichage discussion*/

.nicknamef{
	font-weight:bold;
	font-size:13px;
	color:#fd4e8c;
}

.nicknameh{
	font-weight:bold;
	font-size:13px;
	color:#006E96;
}

.heure{
	font-size:9px;
	font-style:italic;
	background-color:inherit;
	color:rgba(102, 102, 102, 0.64);
}

.message_to p, .message_from  p{
	padding:2px;
	margin:0;
	font-weight:bold;
}

.message_to, .message_from {
	margin:5px 0;
	font-size:11px;
	text-align:left;
}

.message_to span.nicknameh, .message_to span.nicknamef, .message_from span.nicknamef, .message_from span.nicknameh {
	font-size:11px;
}


.chatMessages{
	position: absolute;
    left: 0px;
    top: 50px;
    margin: 0;
    padding: 5px 0px;
    width: 100%;
    height: 100%;
}

.chatMessagesContent{
	/*position:absolute;
	width:548px;
	height:308px;
	overflow:auto;*/
	    height: 400px;
    overflow-y: scroll;
}

.toolBar{
	
	    position: absolute;
    top: 359px;
    background: rgba(255, 255, 255, 0.77);
	/*width:550px;
	height:30px;
	background-color:#4a4a41;*/
}

.smileyButton{
	position:absolute;
	left:3px;
	top:3px;
	width:40px;
	height:25px;
	background-image:url('images/menu_smileys.png');
	cursor:pointer;
}

.smileyMenu{
	/*border:1px solid #4a4a41;
	position:absolute;
	top:-192px;
	width:548px;
	height:190px;
	background-color: #ccc;*/
}

.closeMenu{
	height:30px;
	cursor:pointer;
	background-image:url('images/menu_smileysClose.png');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#4a4a41;
}

.smileyMenu img{
	margin:5px;
	cursor:pointer;
}

.chatSend{
	/*position:absolute;
	left:0;
	top:495px;
	width:550px;
	height:105px;*/
}

.chatSend textarea{
	/*position:absolute;
	left:0;
	top:0;
	width:439px;
	height:99px;
	border:1px solid #82817d;*/
}

.envoyer{
	position:absolute;
	right:0;
	top:0;
	width:100px;
	height:60px;
	padding-top:45px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	background-color: #4a4a41;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	cursor:pointer;
	color:#fff;
}

#chatHelp {
	overflow-y: scroll; */
   
    /* height: 79%; */
    overflow-x: hidden;
    margin-bottom: 0px;
    background: url(templates/img/inbox-bg.png) rgba(80, 88, 91, 0.81);
    background-repeat: repeat repeat;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:530px;
	overflow:auto;
	font: 13px/18px Trebuchet MS, "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
}


#chatHelp ul {
	font-size: 11px;
	margin-left: 20px;
}


.online_1{
	color: #090;
	font-weight:bold;
}
.Offline.online_1{
	color: #157d19 !important;
	font-weight:bold;
}

.online_0{
	color: #777;
	font-weight:bold;
}
.Offline.online_0{
	color: #777;
	font-weight:bold;
}
